
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Stray";
  src: url("/assets/fonts/Stray.woff2");
}

* {
  @apply scroll-smooth transition-colors duration-150;
}

p, h1, h2, h3, h4, h5, h6, span, a {
  @apply duration-50;
}

img {
  @apply select-none pointer-events-none;
}

@layer utilities {
  /* Safe Area Utilities */
  .p-safe {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-right);
  }

  .m-safe {
    margin: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  .mx-safe {
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
  }

  .my-safe {
    margin-top: env(safe-area-inset-top);
    margin-bottom: env(safe-area-inset-bottom);
  }

  .mt-safe {
    margin-top: env(safe-area-inset-top);
  }

  .mr-safe {
    margin-right: env(safe-area-inset-right);
  }

  .mb-safe {
    margin-bottom: env(safe-area-inset-bottom);
  }

  .ml-safe {
    margin-left: env(safe-area-inset-right);
  }

  .top-safe {
    top: 0;
    top: env(safe-area-inset-top);
  }

  .right-safe {
    right: 0;
    right: env(safe-area-inset-right);
  }

  .bottom-safe {
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
  }

  .left-safe {
    left: 0;
    left: env(safe-area-inset-right);
  }

  /* Text writing mode utilities */
  .writing-horizontal-tb {
    writing-mode: horizontal-tb;
  }

  .writing-vertical-rl {
    writing-mode: vertical-rl;
  }

  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }

  /* Hide scrollbar */
  /* Chrome, Safari and Opera */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

 /* IE, Edge and Firefox */
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
