@tailwind base;
@tailwind components;
@tailwind utilities;

#scroll {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'MilliardBook';
  src: url('/fonts/milliard-book.woff') format('woff');
}

@font-face {
  font-family: 'SkModernistMono';
  src: url('/fonts/sk-modernist-mono.woff') format('woff');
}

@font-face {
  font-family: 'SkModernistRegular';
  src: url('/fonts/sk-modernist-regular.woff') format('woff');
}

@font-face {
  font-family: 'SkModernistBold';
  src: url('/fonts/sk-modernist-bold.woff') format('woff');
}

* {
  @apply subpixel-antialiased
}
